.logoimg{
    width:3rem;
    height: 3rem;
}
.userimg{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}
.closeimg{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.showbox{
    width: 80%;
    margin-left: 10%;
    height: 80vh;
    position:absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.showvideo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
}
.singleVideo{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.navbar{
    background-color: #e3f2fd;
    margin-bottom: 15rem;
}
.container-fluid{
    width: 100%;
    
}
.collapse{
    margin-left: 17%;
}
.form-control{
    margin-left: 4rem;
    width: 25rem;
}
.navbar-nav{
    margin-left: 17%;
}
.center{
    text-align: center;
    width: 100%;
}