.logoimg{
    width:3rem;
    height: 3rem;
}
.userimg{
    width: 3rem;
    height: 3rem;
}
.closeimg{
    width: 3rem;
    height: 3rem;
}
.showbox{
    width: 80%;
    margin-left: 10%;
    height: 50vh;
    border:2px solid black;
    position:absolute;
    background-color: white;
}
.navbar{
    background-color: #e3f2fd
}
.container-fluid{
    width: 100%;
    border: 2px solid black;
    
    
}
.collapse{
    border: 2px solid green;
    margin-left: 20%;
}
.form-control{
    width: 25rem;
}
.navbar-nav{
    border: 2px solid red;
    margin-left: 30%;
}